@import "src/styles/common"

.root
  padding: 28px

  .link
    margin-bottom: 20px
    text-align: center

  .mainTitle
    text-align: center

  .error
    text-align: center

  .top
    display: flex
    align-items: center

  .bottom
    margin-top: 40px

  .section
    text-align: center
    margin-top: 20px

  .title
    display: inline-flex
    align-items: center
    font-size: 16px
    font-weight: 500
    margin-bottom: 8px

  .choose,
  .history
    margin-left: 8px

  .panel

    & :global(.ant-collapse-header)
      position: relative
      left: -12px
      padding: 0 !important

  .hexagramsView
    display: inline-block
    padding: 8px
    margin-bottom: 12px
    margin-right: 12px
    border-radius: 4px
    background-color: #fff
    box-shadow: $boxShadow3
