@import src/styles/common

.root
  display: flex
  align-items: center
  font-size: 12px
  color: $mainColor

.info
  padding: 0 8px

.history
  padding-top: 8px
  max-height: 140px
  overflow: auto

.button
  & + &
    margin-left: 8px

.item
  cursor: pointer
  transition: 0.3s
  padding: 4px

  &:hover
    background-color: $backgroundColor

  &.active
    background-color: $accentColorBG
